@if(!category || !subcategory || !topic || !thread) {
    <div class="not-found">
        <h1>Thread not found</h1>
        <p>The category or subcategory or topic or thread you're looking for doesn't exist.</p>
    </div>
} @else {
    
    <div class="navigation">
        <div class="back-arrow cursor-pointer" (click)="topicClick()">
            <lucide-angular [img]="ArrowLeft" [size]="20"></lucide-angular>
            <div>Back to {{topic.title}}</div>
        </div>
        <div class="navigation-container">
            <span class="cursor-pointer" (click)="categoryClick()">{{category.name}}</span>
            <span>/</span>
            <span class="cursor-pointer" (click)="subcategoryClick()">{{subcategory.name}}</span>
            <span>/</span>
            <span class="cursor-pointer" (click)="topicClick()">{{topic.title}}</span>
            <span>/</span>
            <span class="current">{{thread.title}}</span>
        </div>
    </div>
    <div class="scroll-wrapper">
        @if(loadingDone === true){
            <markdown 
            
            class="variable-binding" [data]="markdown">
            </markdown>
        }
    </div>   
}