<div class="layout">
    <app-sidebar></app-sidebar>
    <main>
        <div class="router-container">
          @if(sidebarContentStore.isSidebarOpen() === false){
            <div class="mobile-only">
              <div (click)="sidebarContentStore.toggleSidebar()" class="toggle-button">
                <lucide-angular [img]="ChevronRight" [size]="24"></lucide-angular>
              </div>
            </div>
          }

          <router-outlet></router-outlet>
        </div>
    </main>
</div>