:root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(222.2, 84%, 4.9%);

    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(222.2, 84%, 4.9%);

    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(222.2, 84%, 4.9%);

    --primary: hsl(222.2, 47.4%, 11.2%);
    --primary-foreground: hsl(210, 40%, 98%);

    --secondary: hsl(210, 40%, 96.1%);
    --secondary-foreground: hsl(222.2, 47.4%, 11.2%);

    --muted: hsl(210, 40%, 96.1%);
    --muted-foreground: hsl(215.4, 16.3%, 46.9%);

    --accent: hsl(210, 40%, 96.1%);
    --accent-foreground: hsl(222.2, 47.4%, 11.2%);

    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(210, 40%, 98%);

    --border: var(--gray-800);
    --input: hsl(214.3, 31.8%, 91.4%);
    --ring: hsl(222.2, 84%, 4.9%);

    --radius: 0.5rem;

    --sidebar-background: hsl(222, 47%, 11%);
    --sidebar-foreground: hsl(210, 40%, 98%);
    --sidebar-primary: hsl(217.2, 91.2%, 59.8%);
    --sidebar-primary-foreground: hsl(222.2, 47.4%, 11.2%);
    --sidebar-accent: hsl(217.2, 32.6%, 17.5%);
    --sidebar-accent-foreground: hsl(210, 40%, 98%);
    --sidebar-border: hsl(217.2, 32.6%, 17.5%);
    --sidebar-ring: hsl(224.3, 76.3%, 48%);

    --gray-1000: oklch(16.93% .004 285.95);
    --gray-900: oklch(19.37% .006 300.98);
    --gray-800: oklch(25.16% .008 308.11);
    --gray-700: oklch(36.98% .014 302.71);
    --gray-600: oklch(44% .019 306.08);
    --gray-500: oklch(54.84% .023 304.99);
    --gray-400: oklch(70.9% .015 304.04);
    --gray-300: oklch(84.01% .009 308.34);
    --gray-200: oklch(91.75% .004 301.42);
    --gray-100: oklch(97.12% .002 325.59);
    --gray-50: oklch(98.81% 0 0);
    --vivid-pink: color-mix(in srgb, oklch(69.02% .277 332.77), var(--full-contrast) 70%);
    --link-color: hsl(231, 66%, 58%);

    --full-contrast: white;
    --primary-contrast: var(--gray-50);
    --secondary-contrast: var(--gray-300);
    --tertiary-contrast: var(--gray-300);
    --quaternary-contrast: var(--gray-400);
    --quinary-contrast: var(--gray-500);
    --senary-contrast: var(--gray-700);
    --septenary-contrast: var(--gray-800);
    --octonary-contrast: var(--gray-900);
    --page-background: var(--gray-1000);
}

.blue-to-purple-text {
    background: -webkit-linear-gradient(#4C6EF5, #6f42c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cursor-pointer {
    cursor: pointer;
}

* ::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: var(--gray-1000);
    width: 8px;
}

*  ::-webkit-scrollbar-thumb {
    background-color: var(--gray-500);
    border-radius: 5px;
}

.topic-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.topic-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

:root pre {
    background-color: hsl(215, 13%, 18%)!important;
    border: 1px solid var(--gray-600)!important;
    margin: 1rem 0 1rem 0!important;
}
:root pre h1,h2,h3,h4{
    padding-bottom: 1rem!important;
}
:root .variable-binding a {
    color: var(--link-color)!important;
    text-decoration: underline!important;
}
:root .variable-binding hr {
    border-color: var(--gray-1000)!important;
}

:root code:not([class*="language-"]) {
    background: var(--gray-600)!important;
    color: var(--vivid-pink) !important;
    padding: 0.15rem;
    border-radius: 0.15rem;
    margin: 0!important;
}